@model Employee

<h1>Employee Detail</h1>

<ul class="list-group list-group-flush">
  <li class="list-group-item">First Name : @Model.FirstName</li>
  <li class="list-group-item">Sur Name: @Model.Surname</li>
  <li class="list-group-item">Adress : @Model.Address</li>
  <li class="list-group-item"> Gender: @Model.Gender</li>
</ul>